
.root{
    /*-fx-background-color: linear-gradient(to bottom, #1dbbdd44, #93f9b944);*/
}
*{
    -fx-primary: #2A2E37;
    -fx-secondary: #FFFF8D;
    -fx-primarytext: #B2B2B2;
}
.table-view .column-header-background{
    -fx-background-color: linear-gradient(to bottom, #1dbbdd44, #93f9b944);
    -fx-background-radius: 7px 7px 0px 0px;
    -fx-background-insets: 0 11px 0 0;
    -fx-padding: 0 0 5px 0;
}

.table-view .table-cell {
    -fx-border-color: transparent;
    -fx-padding: 2 0 2 10px;
}
.table-view .column-header {
    -fx-background-color: transparent;
}
.table-row-cell:hover {
    -fx-background-color: #c6e307;
    -fx-text-background-color: orange;
}


.table-row-cell:odd {
    -fx-background-color: #38adf5;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}
.table-row-cell:even {
    -fx-background-color: #1d70dd;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

.table-view .virtual-flow .scroll-bar:vertical,
.table-view .virtual-flow .scroll-bar:vertical .track,
.table-view .virtual-flow .scroll-bar:vertical .track-background,
.table-view .virtual-flow .scroll-bar:horizontal,
.table-view .virtual-flow .scroll-bar:horizontal .track,
.table-view .virtual-flow .scroll-bar:horizontal .track-background {
    -fx-background-color: transparent;
}

.table-view .virtual-flow .scroll-bar .increment-button,
.table-view .virtual-flow .scroll-bar .decrement-button {
    -fx-opacity: 0;
    -fx-padding: 2;
}
.table-row-cell:highlighted {
    -fx-background-color: orange;
    -fx-background-radius: 15px;
}

.jfx-text-field{
/*    -jfx-unfocus-color: red;*/
/*        -fx-border-color: red;*/
}

    .jfx-date-picker .jfx-text-field{
    -jfx-focus-color: #f2a100;
}

.jfx-time-picker .jfx-text-field{
    -jfx-focus-color: #f2a100;
}

.jfx-button:hover{
    -jfx-background-color: orange;
}

.jfx-button {
    -fx-background-color: 
        #090a0c,
        linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
        linear-gradient(#20262b, #191d22),
        radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Arial";
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-font-size: 12px;
    -fx-padding: 10 20 10 20;
}
.jfx-button Text {
    -fx-effect: dropshadow( one-pass-box , rgba(0,0,0,0.9) , 1, 0.0 , 0 , 1 );
}



/*old css*/

/*.root{
    
    -fx-background-color: linear-gradient(to bottom, #1dbbdd44, #93f9b944);
}
*{
    -fx-primary: #2A2E37;
    -fx-secondary: #FFFF8D;
    -fx-primarytext: #B2B2B2;
}
.table-view .column-header-background{
    -fx-background-color: 
        #090a0c,
        linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
        linear-gradient(#20262b, #191d22),
        radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
    -fx-background-insets: 0 11px 0 0;
    -fx-padding: 0 0 5px 0;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Arial";
    -fx-font-size: 15px;
    -fx-text-fill: linear-gradient(white, #d0d0d0);
}

.table-view .table-cell {
    -fx-border-color: transparent;
    -fx-padding: 2 0 2 10px;
    -fx-padding: 0 0 5px 0;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Arial";
    -fx-font-size: 15px;
    -fx-text-fill: linear-gradient(white, #d0d0d0);
}
.table-view .column-header {
    -fx-background-color: transparent;
}
.table-row-cell:hover {
    -fx-background-color: orange;
    -fx-text-background-color: orange;
}


.table-row-cell:odd {
    -fx-background-color: #6e7075;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}
.table-row-cell:even {
    -fx-background-color: #2a2b2e;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

.table-view .virtual-flow .scroll-bar:vertical,
.table-view .virtual-flow .scroll-bar:vertical .track,
.table-view .virtual-flow .scroll-bar:vertical .track-background,
.table-view .virtual-flow .scroll-bar:horizontal,
.table-view .virtual-flow .scroll-bar:horizontal .track,
.table-view .virtual-flow .scroll-bar:horizontal .track-background {
    -fx-background-color: transparent;
}

.table-view .virtual-flow .scroll-bar .increment-button,
.table-view .virtual-flow .scroll-bar .decrement-button {
    -fx-opacity: 0;
    -fx-padding: 2;
}
.table-row-cell:highlighted {
    -fx-background-color: red;
    -fx-background-radius: 15px;
}

.jfx-text-field{
    -jfx-unfocus-color: red;
        -fx-border-color: red;
}

.jfx-date-picker .jfx-text-field{
    -jfx-focus-color: #f2a100;
}

.jfx-time-picker .jfx-text-field{
    -jfx-focus-color: #f2a100;
}

.jfx-button:hover{
    -jfx-background-color: orange;
}

.jfx-button {
    -fx-background-color: 
        #090a0c,
        linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
        linear-gradient(#20262b, #191d22),
        radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Arial";
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-font-size: 12px;
    -fx-padding: 10 20 10 20;
}
.jfx-button Text {
    -fx-effect: dropshadow( one-pass-box , rgba(0,0,0,0.9) , 1, 0.0 , 0 , 1 );
}*/







